*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  margin-left: 20px;
  background-color:  rgba(166, 211, 255, 0.123);
  font-family: cursive;
}

h4 {
  text-decoration: underline;
  
}

#pfannkuchen {
  float: right;
  width: 375px;
  margin-right: 160px;
  outline:  rgba(1, 54, 107, 0.459) solid 10px;

}


.hervorheben {
  font-weight: bold;
  
}
h1 {
  color: rgb(1, 54, 107);
}
h3 {
  color: black;
}

h4 {
 color: black;
}
#coucous {
  float: right;
  width: 320px;
  margin-right: 200px;
  margin-bottom: 10px;
  outline: rgba(1, 54, 107, 0.459) solid 10px;

}

#Spaghetti {
  float: right;
  width: 300px;
  margin-right: 170px;
  margin-bottom: 50px;
  outline: rgba(1, 54, 107, 0.459) solid 10px;

}

.anfang {
  color: rgb(1, 54, 107);
}

h1 {
  border: 2px solid red;
  border-radius: 8px;
  padding: 5px;
  border-width: 5px;
}
